appdirs
asgiref
astroid
colorama
distlib
Django
filelock
isort
lazy-object-proxy
mccabe
Pillow
pylint
pytz
six
sqlparse
toml
virtualenv
wrapt
dj-database-url
psycopg2
psycopg
agora-token-builder
gunicorn
whitenoise[brotli]
