<!-- from profile.html - line 282 -->
{% if customer.license_image.url %}
<div class="row">
  <div class="col-sm-6">
    <p class="mb-0"><b>Government ID Image (i.e. License)</b></p>
  </div>
  <div class="col-sm-6">
     <img src="{{ customer.license_image.url }}" alt="license_image"
     class="rounded img-fluid" style="width: 200px;">
  </div>
</div>

{% else %}
<div class="row">
  <div class="col-sm-6">
    <p class="mb-0"><b>Government ID Image (i.e. License)</b></p>
  </div>
  
  <div class="col-sm-6">
     <img src="{% static '/logo/license.jpg' %}" alt="license_image"
     class="rounded img-fluid" style="width: 200px;">
  </div>
</div>
{% endif %}